body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    bottom: 0;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    background-color: navy;
    padding: 20px;
    margin: auto;
    color: white;
    align-items: center;
}

.me {
    height: 100px;
    width: auto;
    border-radius: 50%;
    margin-right: 10px;
    padding: 20px;
    object-fit: cover;
    animation: float 3s ease-in-out infinite;
    justify-content: left;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0);
    }
}

header h1 {
    margin-bottom: 0;
}

header p {
    margin: 0;
    padding-bottom: 10px;
}

header p img {
    height: 15px;
}

a {
    color: white;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: small;
}

nav ul li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}

nav ul li:hover {
    transform: scale(1.2);
    background-color: rgba(153, 153, 153, 0.322);
    border-radius: 15px;
}

nav ul li a img {
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

nav {
    color: white;
}

header {
    font-family: "Ubuntu", sans-serif;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btn {
    background-color: navy;
    color: white;
    padding: 15px 30px;
    border-radius: 25px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 200px;
    text-align: center;
}

.btn:hover {
    background-color: #ff5555;
    transform: scale(1.1);
}

.content {
    display: none;
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

.store-btn {
    display: inline-block;
    background-color: navy;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

.store-btn:hover {
    background-color: #ff5555;
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: center;
    background-color: navy;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}